[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/Resetss/glfw.git
[submodule "Dependencies/glad"]
	path = Dependencies/glad
	url = https://github.com/Resetss/glad.git
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/tinygltf"]
	path = Dependencies/tinygltf
	url = https://github.com/Resetss/tinygltf.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/Resetss/imgui.git
[submodule "Dependencies/imguifd"]
	path = Dependencies/imguifd
	url = https://github.com/Resetss/ImGuiFileDialog.git
[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/Resetss/spdlog.git
