[submodule "dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/Resetss/glfw.git
[submodule "dependencies/glad"]
	path = Dependencies/glad
	url = https://github.com/Resetss/glad.git
[submodule "dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/tinygltf"]
	path = Dependencies/tinygltf
	url = https://github.com/Resetss/tinygltf.git
[submodule "dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/Resetss/imgui.git
[submodule "dependencies/imguifd"]
	path = Dependencies/imguifd
	url = https://github.com/Resetss/ImGuiFileDialog.git
[submodule "dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/Resetss/spdlog.git
