[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/Resetss/glfw.git
[submodule "Dependencies/glad"]
	path = Dependencies/glad
	url = https://github.com/Resetss/glad.git
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/tinygltf"]
	path = Dependencies/tinygltf
	url = https://github.com/Resetss/tinygltf.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/Resetss/imgui.git
